body {
  margin: 0;
  /* font-family: Arial, sans-serif; */
  font-family: 'Playfair Display', serif;
  /* font-family: 'Cormorant Garamond', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Great Vibes', cursive; */

  background: #E2DACF;
  color: #070d08;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
}

.navbar-custom {
  background-color: #E2DACF; /* warm orange */
  height: 70px;
}

.hero-section {
  padding-top: 70px;
}

header {
  background-color: #fba327;
  color: #070d08;
  padding: 2rem;
  text-align: center;
}

main {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #E2DACF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #E2DACF;
}

footer {
  background-color: #070d08;
  color: #fed17c;
  text-align: center;
  padding: 1rem;
}

section {
  scroll-margin-top: 80px;
}

#services a {
  color: #070d08 !important;
}

#services a:hover {
  color: #c95502;
  text-decoration: underline;
}
